.suggested-conatiner{
    /* width: 1440px; */
height: 776px;
/* margin:0 auto; */
background: linear-gradient(180deg, rgba(177, 212, 219, 0.40) 0%, rgba(177, 212, 219, 0.15) 100%);
margin-top: 60px;

}
.suggested-title{
    padding-top: 59px;
    color: #252525;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.suggested-sm-title{
    color: #333D43;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.suggested-image-section{
    width: 287px;
    height: 488px;
    border-radius: 12px;
  
}
.suggested-section{
    margin-top: 40px;
}
.suggested-image{
    width: 287px;
    height: 488px;
}
.suggested-imageTitle-section{
width: 849px;
height: 376px;
border-radius: 12px;
}
.suggested-large-image{
    width: 849px;
    height: 376px;
    border-radius: 12px;
}
.escape-title{
    color:#252525;
    font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.eascape-tag{
    color: #333D43;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
.learn-more-button{
    width: 157px;
height: 52px;
border-radius: 12px;
background: #34B778;
}